asgiref==3.7.2
bleach==6.1.0
distlib==0.3.7
Django==4.2.7
django-autocomplete-light==3.9.7
django-jazzmin==2.6.0
django-multiselectfield==0.1.12
django-todo==2.5.0
factory-boy==3.3.0
Faker==19.13.0
filelock==3.13.1
html2text==2020.1.16
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.0
Pillow==10.1.0
platformdirs==4.0.0
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.4
titlecase==2.4.1
tzdata==2023.3
virtualenv==20.24.7
webencodings==0.5.1
