{% extends "core/base.html" %} 
{% block title %}Employee Page - Dashboard {%endblock %} {% load static %}
 {% block content %}
<!-- Assuming you have a form for marking attendance -->
<form method="post" action="{% url 'employees:set_attendance' %}">
    {% csrf_token %}
    
    <!-- Display opened attendance records for the user to choose from -->
    {% for attendance in open_attendance_dates %}
      <label>
        <input type="radio" name="attendance_date" value="{{ attendance.attendance_date }}">
        {{ attendance.attendance_date }} - {{ attendance.status }}
      </label><br>
    {% endfor %}
    
    <!-- Additional fields and submit button for the form -->
    <!-- ... -->
  
    <button type="submit">Mark Attendance</button>
  </form>
  

{% endblock %}
{% block extra_js %}
<script>
    function goBack() {
        window.history.back();
    }
    </script>
{% endblock %}