
{% extends "core/base.html" %} 
{% block title %}Employee Page - Dashboard {%endblock %} {% load static %}
 {% block content %}
<div class="container-lg" style="max-width: 700px">
  <div class="card shadow mx-5 my-3">
    <div class="card-header">
      <h6 class="m-0 font-weight-bold text-primary">Calculator ni Mike</h6>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'calculator:calculate_load' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="material">Material:</label>
                <input type="text" class="form-control" name="material" value="{{ material }}" placeholder="Enter '🌲 wood' or '🔩 steel' only" required>
            </div>
            <div class="form-group">
                <label for="width">Width:</label>
                <input type="number" class="form-control" name="width"  value="{{ width }}"placeholder="Enter width (meters)" required>
            </div>
            <div class="form-group">
                <label for="length">Length:</label>
                <input type="number" class="form-control" name="length" value="{{ length }}" placeholder="Enter length (meters)" required>
            </div>
            <div class="form-group">
                <label for="height">Height:</label>
                <input type="number" class="form-control" name="height" value="{{ height }}" placeholder="Enter height (meters)">
                <div class="invalid-feedback">
                    Please provide a valid height.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
        
       
    </div>
    <div class="card-footer" style="background-color: #1e1e1e;color: #abb2bf; font-family: 'Courier New', monospace;">
        Output:{% if result %}{{ result }}{% endif %}
    </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
    function goBack() {
        window.history.back();
    }
    </script>
{% endblock %}