{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Common CSS stylesheets -->
   
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'toast/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    {% block extra_css %}{% endblock %}
</head>
<body>

         <!-- alert messages -->
         {% if messages %}
         {% for message in messages %}
         <div class="toastZ active">
             <div class="toast-content">
                {% if message.tags != 'success' %}
                <i class="fa-solid fa-2x fa-triangle-exclamation" style="color: #f60404;"></i>
                {% else %}
                <i class="fa-solid fa-2x fa-circle-check" style="color: #4bfb57;"></i>
                 {% endif %}
                 <div class="messageToast">
                     <span class="text text-1">System Message</span>
                     <span class="text text-2" id="msg">{{ message }}</span>
                 </div>
             </div>
             <i class="fa-solid fa-square-xmark fa-2x close-toast"></i>
             <div class="progress active"></div>
         </div>
         {% endfor %}
       {% endif %}
    <div id="page-top">
 
        <!-- Page Wrapper -->
        <div id="wrapper">
            {% block sidebar %} 
            <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"  href="{% url 'core:home' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-helmet-safety" style="color: #ffffff;"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Employee</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'core:home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects:projects' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Projects</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'employees:open_attendance' %}">
                    <i class="fa-solid fa-calendar-check fa-fw"></i>
                    <span>Attendances</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'employees:appointment_list' %}">
                    <i class="fa-solid fa-thumbtack fa-fw"></i>
                    <span>Appointments</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'calculator:calculate_load' %}">
                    <i class="fa-solid fa-calculator fa-fw"></i>
                    <span>Calculate</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        

        </ul>
        <!-- End of Sidebar -->
        {% endblock %}
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
            
                <!-- Main Content -->
                <div id="content">
                    {% block topbar %}
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        {% block searchField%}
                        <!-- Topbar Search
                        <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                    aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form> -->
                        {% endblock %}

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                placeholder="Search for..." aria-label="Search"
                                                aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <!-- Nav Item - Alerts -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter">{% if notification_count > 0 %}{{ notification_count }}+{% endif %}</span>
                                </a>
                            
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>
                                    {% if not notification_count %}
                                    <!-- Display a message when there are no alerts -->
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="font-weight-bold">
                                            <div class="text-truncate text-muted">There are no alerts yet!</div>
                                        </div>
                                    </a>
                                    {% endif %}

                                    {% for notification in user_notifications %} 
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'core:mark_as_read' notification.id %}">
                                        <div class="mr-3">
                                            {% if 'approved' in notification.message or 'sent' in notification.message %}

                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-2x fa-circle-check text-white"></i>
                                            </div>
                                            {% else %}
                                            <div class="icon-circle bg-danger">
                                                <i class="fas fa-2x fa-circle-xmark text-white"></i>
                                            </div>
                                            {% endif %}
                                        </div>
                                    
                                        <div>
                                            <div class="small text-gray-500">{{ notification.timestamp|date:"M, d, Y, D" }}  {{ notification.timestamp|timesince }} ago</div>
                                            <span class="font-weight-bold">{{ notification.message }}</span>
                                        </div>
                                       
                                    </a>
                                     {% endfor %}
                                 
                                </div>
                            </li>


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if user.is_authenticated %}
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                        {% if zprofile_image %}
                                            <img class="img-profile rounded-circle" src="{{ zprofile_image }}" alt="Profile Image">
                                        {% else %}
                                            <img class="img-profile rounded-circle"
                                            src="{% static 'img/default_profile.png' %}" alt="Default Avatar">
                                        {% endif %}
                                    
                                    {% endif %}

                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{% url 'employees:view_profile' %}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="{% url 'employees:change_password' %}">
                                        <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Change Password
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->
                    {% endblock %}
           
     
                    {% block content %}{% endblock %}
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                {% block footer %}{% endblock %}

            </div>
           
        </div>
         <!-- End of Content Wrapper -->
         {% block extra_content %}
            
         {% endblock %}
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{% url 'core:logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
         
       
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- sweetalert2 script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'toast/script.js' %}"></script>

    {% block extra_js %}{% endblock %}


</body>
</html>
