
{% extends "core/base.html" %} 
{% block title %}Employee Page - Dashboard{% endblock %}
{% load static %}
{% block content %}
<div class="container-lg" style="max-width: 700px">
    <div class="card shadow mx-5 my-3">
        <div class="card-header ">
            <h6 class="m-0 font-weight-bold text-primary">Create New Project</h6>
         
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'projects:new' %}">
                {% csrf_token %}
            
                {{ form.as_p }}
            
            <br/>
              <button type="submit" class="btn btn-secondary">Add Project</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
