{% extends "core/base.html" %} 
{% block title %}Employee Page - Dashboard{% endblock %}
{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
 {% endblock %}
 {% block searchField%}
 <form id="customSearchForm"
     class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
     <div class="input-group">
         <input type="text" id="customSearchInput" class="form-control bg-light border-0 small" placeholder="Search for..."
             aria-label="Search" aria-describedby="basic-addon2">
         <div class="input-group-append">
             <button class="btn btn-primary" id="customSearchButton" type="button">
                 <i class="fas fa-search fa-sm"></i>
             </button>
         </div>
     </div>
 </form>
 {% endblock %}
{% block content %}
    <div class="card shadow mx-5">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Project</h6>
          
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <table id="projectsTB" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Deadline</th>
                        <th>Progress</th>
                        <th>Actions</th>

                    

                    </tr>
                </thead>
                <tbody>
                  
                    <tr>
                        <td>{{ project }}</td>
                        <td> 
                        {% if project.status == '1' %}
                            <span class="text-danger">Stuck</span>
                        {% elif project.status == '2' %}
                            <span class="text-info">Working</span>
                        {% else %}
                            <span class="text-success">Done!</span>
                        {% endif %}
                        </td>
                        <td>
                            {{ project.dead_line }}
                       </td>
                        <td>{{ project.complete_per }}%</td>
                        <td><div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-158px, 18px, 0px);">
                                <a class="dropdown-item d-flex justify-content-around align-items-center" href="{% url 'projects:update' project.id %}?return_url={{ request.path }}"><span>Update Status</span> <i class="fa-solid fa-pen-to-square"></i></a>
                           
                            </div>
                        </div></td>

                    </tr>
                    
                </tbody>
            </table>
           
        </div>
    </div>
    <div class="card shadow mx-5 mt-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Description</h6>
        </div>
        <div class="card-body">
             <p class="text-muted">{{ project.description|truncatechars:60 }}</p>
        </div>
    </div>

    <div class="card shadow mx-5 mt-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">List of Tasks</h6>
          
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <table id="tasksTB" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Remaining</th>
                        <th>Challenges</th>
                        <th>Progress Update</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>                
                        {% for task in tasks %}
                        <tr>
                        <td>
                            {{ task }}
                        </td>
                        <td> 
                            {% if task.status == '1' %}
                                <span class="text-danger">Stuck</span>
                            {% elif task.status == '2' %}
                                <span class="text-info">Working</span>
                            {% else %}
                                <span class="text-success">Done!</span>
                            {% endif %}
                            </td>
                        
                            
                            {% if task.remaining_days <= 0 %}
                            <td class="text-danger">
                                Due
                            </td>
                            {% else %}
                            <td>
                            {{ task.remaining_days }} days
                             </td>

                            {% endif %}

                        <td>
                            {{ task.challenges|truncatechars:20 }}
                        </td>
                        <td>
                            {{ task.progress_update|truncatechars:20 }}
                        </td>
                        <td><div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-158px, 18px, 0px);">
                                <a class="dropdown-item d-flex justify-content-around align-items-center" href="{% url 'projects:viewTask' task.id%}"><span>View</span> <i class="fa-solid fa-eye "></i></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item d-flex justify-content-around align-items-center" href="{% url 'projects:updateTask' task.id%}"><span>Update</span> <i class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                        </div></td>
                    </tr>

                        {% endfor %}
                       
                  
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block extra_js%} 
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
        const table = $('#tasksTB').DataTable({
            columnDefs: [
                { targets: -1, orderable: false } // Targets the last column and disables sorting
            ]
        });
        $('.dataTables_filter').hide();
    const customSearchInput = document.querySelector('#customSearchInput');
    const customSearchButton = document.querySelector('#customSearchButton');
    const customSearchForm = document.querySelector('#customSearchForm');
    // Add a custom event listener to trigger the DataTable search
    customSearchInput.addEventListener('keyup', function() {
        table.search(this.value).draw();
    });
    customSearchButton.addEventListener('click', function() {
        table.search($('#customSearchInput').val()).draw();
    });

    // Prevent form submission on enter key
    customSearchForm.addEventListener('submit', function(event) {
        event.preventDefault();
        table.search($('#customSearchInput').val()).draw();
    });
    } );
</script>
{% endblock %}
